<div class="user-page__headline">
  <span class="user-page__place">
  </span>
  <span class="user-page__name">
    {{vm.model.firstName}} {{vm.model.lastName}}
  </span>
  <span class="user-page__city-age">
    <div class="user-page__city">
      {{vm.model.city}}
    </div>
    <div class="user-page__age">
    </div>
  </span>
</div>
<div class="user-page__main">
    <div ng-controller="AvatarUploaderController as avatarVm" class="user-page__avatar-wrapper">
        <div ng-click="avatarVm.avatarUploader.selectFile()">
        {{avatarVm.localAvatar.url}}
            <img ng-hide="avatarVm.localAvatar"
                 ng-src="{{vm.model.avatar}}"
                 err-src="uploads/tmp/{{vm.model.avatar_tmp}}"
                 class="user-page__avatar">
        
            <div ng-if="avatarVm.localAvatar">
                 <div ng-show="avatarVm.avatarUploader.isHTML5"
                      ng-thumb></div>
            </div>
        </div>
        

        <input ng-hide="true"
               id="avatar-uploader"
               type="file"
               nv-file-select
               uploader="avatarVm.avatarUploader"/>
               
        <span class="user-page__like">
        </span>
        <span class="user-page__follow">
        </span>
    </div>
    <div class="user-page__socials">
        <div class="user-page__vk">
            {{vm.model.vk}}
        </div>
        <div class="user-page__instagram">
            {{vm.model.instagram}}
        </div>
        <div class="user-page__twitter">
            {{vm.model.twitter}}
        </div>
        <div class="user-page__phone">
            {{vm.model.phone}}
        </div>
        <div class="user-page__email">
            {{vm.model.email}}
        </div>
        <div class="user-page__about">
            {{vm.model.about}}
        </div>
    </div>
    <div class="user-page__instagram">
      {{vm.model.instagram}}
    </div>
    <div class="user-page__twitter">
      {{vm.model.twitter}}
    </div>
    <div class="user-page__phone">
      {{vm.model.phone}}
    </div>
    <div class="user-page__email">
      {{vm.model.email}}
    </div>
    <div class="user-page__about">
      {{vm.model.about}}
    </div>
  </div>
</div>

<div class="user-page__tabs tabs">
  <div class="tabs__bar">
    <a class="tabs__link tabs__link_active"></a>
    <a class="tabs__link"></a>
    <a class="tabs__link"></a>
    <a class="tabs__link"></a>
  </div>
  <div class="tabs__content">
  </div>
</div>
