<div ng-app="App">

<div class="navbar navbar-inverse" ng-controller="AccountCtrl" >
  <div class="navbar-inner">
  	<div class="nav-collapse collapse">
	    <a class="brand" href="#">WWWonderful!</a>
	    <ul class="nav nav-pills">
	      <li class="active"><a href="#/users">Участницы</a></li>
	      <li><a href="#">Правила</a></li>
	    </ul>
   	</div>
  </div>
</div>

	<ng-view></ng-view>

	<script type="text/ng-template" id="users-page.html">
			<user ng-repeat="user in model.users" email="{{user.email}}" id="{{user.id}}">
			</user>
			<br/>
	</script>

	<script type="text/ng-template" id="user.html">
		<div class="user">
			<a class="user__link" ng-href="{{model.link}}">{{model.email}}</a>
		</div>
	</script>

	<script type="text/ng-template" id="user-page.html">
			<div class="user-page__right">
				<span class="user-page__name">{{model.user}}</span>
				<p class="user-page__info">{{model.user}}</p>
			</div>
	</script>

</div>
